@model IEnumerable<Pedidos.Models.P_Categoria>

@{
    ViewData["Title"] = "Pedidos";
}

<div class="p-2">
    <div class="row ">

        <div class="col-6">
            <div class="form-group position-relative">

                <div class="row m-1">
                    <input id="inputNome" class="form-control form-control-sm col-12 col-md-8" placeholder="Nome" />
                    <input id="inputTelefone" class="form-control form-control-sm col-12 col-md-4" placeholder="Telefone" />
                </div>

                <div class="row m-1">
                    <input id="inputEndereco" class="form-control form-control-sm" placeholder="Endereço" />
                </div>

                <div class="row m-1">
                    <input id="inputProducto" class="form-control form-control-sm" placeholder="Producto" />
                </div>

                <div class="position-absolute  w-100">
                    <table id="tableProductos" class="table">
                    </table>
                </div>

            </div>
        </div>

        <div class="col-6">
        
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">

                    <div class="card">                       
                        <div class="card-body">
                            asdasdasd asd

                        </div>                        
                    </div>


                </div>
                <div class="card-footer text-muted">
                  ...
                </div>
            </div>

        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/views/Pedidos/index.js"></script>
<script src="~/js/views/Pedidos/keyup.js"></script>