@model Pedidos.Models.P_Pedido
@{
    ViewData["Title"] = "Pedidos";
}

<div class="p-2">
    <div class="row ">

        <div class="col-6">

            @*CURRENT PEDIDO*@
            <div class="card mb-2">

                <div class="card-header text-center" style="background-color: #1A9898;color: white;">
                    NOVO PEDIDO
                </div>

                <div class="card-body  p-1">

                    @*INFO DEL PEDIDO*@
                    <div class="d-flex justify-content-between">

                        <div class="d-flex justify-content-between">

                            <div class="d-flex align-items-center" style="text-align:left">
                                <div class="m-2" style="font-size:11px"><b><span id="spanCodigo"></span></b></div>
                            </div>

                            <div class="d-block" style="text-align:left">
                                <div style="font-size:11px"><span id="spanNombre"></span></div>
                                <div style="font-size:11px"><span id="spanEndereco"></span></div>
                            </div>
                        </div>

                        <div class="d-block" style="text-align:right">
                            <div style="font-size:11px"><b>R$ <span id="spanTotal">0.00</span></b></div>
                        </div>
                    </div>

                    @*SEPARADOR*@
                    <div class="d-flex w-100 align-content-center">
                        <hr class="w-100" />
                        <div style="color: #616666;font-size: 10px;display: contents">PRODUTOS</div>
                        <hr class="w-100" />
                    </div>

                    @*PRODUCTO*@
                    <div>
                        <table id="CurrentPedidoProductos" class="w-100 unselectable">
                           
                        </table>
                    </div>

                </div>

                <div class="card-footer text-muted p-2" style="color: black;">
                    <div class="d-flex justify-content-between">
                        <div style="font-size:12px">
                            <i class="fa fa-clock"></i>
                            <samp class="ml-1">00:40:00</samp>
                        </div>
                        <div>
                            <i style="color:green" class="fa fa-check cursor-pointer" onclick="GuardarCurrentPedido()"></i>
                        </div>
                    </div>
                </div>

            </div>

            @*FORMULARIO*@
            <div class="form-group position-relative">

                <div class="row m-1">
                    <input id="inputNome" class="form-control form-control-sm col-12 col-md-8" placeholder="Cliente" />
                    <input id="inputTelefone" class="form-control form-control-sm col-12 col-md-4" placeholder="Telefone" />
                </div>

                <div class="row m-1">
                    <input id="inputEndereco" class="form-control form-control-sm" placeholder="Endereço" />
                </div>

                <div class="row m-1">
                    <input id="inputProducto" class="form-control form-control-sm" placeholder="Producto" />
                </div>

                <div class="position-absolute  w-100">

                    <!-- Modal -->
                    <div class="modal fade" id="ModalDetalleProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="font-size:13px;">

                                <div class="modal-header">
                                    <div class="d-flex justify-content-between w-100">
                                        <div><samp id="spanNomeProducto"></samp></div>
                                        <div>R$ <samp id="spanValorProducto"></samp></div>
                                    </div>
                                </div>

                                <div class="modal-body">
                                    <div>
                                        <span id="spanDescripcionProducto"></span>
                                    </div>

                                    <div class="d-flex align-content-center">
                                        <hr class="w-100" />
                                        <div class="m-1" style="color:gray">ADICIONALES</div>
                                        <hr class="w-100" />
                                    </div>

                                    @*ADICIONALES*@
                                    <div class="ml-2" style="color:darkcyan">

                                        <table id="modalTableAdicionales" class="w-100">
                                            @*LISTA DE ADICIONALES DINAMICA*@
                                        </table>
                                    </div>

                                    <div class="d-flex align-content-center">
                                        <hr class="w-100" />
                                        <div class="m-1" style="color:gray">INGREDIENTES</div>
                                        <hr class="w-100" />
                                    </div>

                                    @*INGREDIENTES*@
                                    <div class="ml-2" style="color:brown">

                                        <table id="modalTableIngredientes" class="w-100">
                                            @*LISTA DE INGREDIENTES DINAMICA*@
                                        </table>

                                        @*<div class="d-flex justify-content-between">
                                                <div>- Tomate</div>
                                                <div class="cursor-pointer"> <input type="checkbox" checked /></div>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <div>- Hovo</div>
                                                <div class="cursor-pointer"> <input type="checkbox" checked /></div>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <div>- Alface</div>
                                                <div class="cursor-pointer"> <input type="checkbox" checked /></div>
                                            </div>*@

                                    </div>

                                </div>

                                <div class="modal-footer d-flex justify-content-between">
                                    <div>
                                        <button class="btn btn-sm cursor-pointer" id="MINUS_Producto" onclick="productoMinus(this)" disabled="disabled"><i class="fa fa-minus-circle"></i></button>
                                        <button class="btn btn-sm cursor-pointer" id="ADD_Producto" onclick="productoPlus(this)"><i class="fa fa-plus-circle"></i></button>
                                    </div>
                                    <div>
                                        <button id="btnModalAdicionar" class="btn btn-sm btn-outline-success cursor-pointer" onclick="AddProducto()"><span id="modalCantidadProducto">(1)</span> Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="tableProductos" class="table">
                    </table>
                </div>

            </div>
        </div>

        @*LISTA PEDIDOS*@
        <div class="col-6">

            <div class="card text-center">
                <div class="card-header" style="background-color: #0380D2; color: white;">
                    <img src="~/img/red-loading-circle.gif" width="30"/>
                    LISTA DE PEDIDOS ATIVOS
                </div>
                <div class="card-body p-1">

                    @*LISTA PEDIDO*@

                    <table id="ListaPedidosPendientes" style="width:100%">

                    </table>


                </div>

            </div>

        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/views/Pedidos/index.js"></script>
<script src="~/js/views/Pedidos/keyup.js"></script>