@model Pedidos.Models.P_Barrio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>P_Barrio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="municipio" class="control-label"></label>
                <input asp-for="municipio" class="form-control" />
                <span asp-validation-for="municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCuenta" class="control-label"></label>
                <input asp-for="idCuenta" class="form-control" />
                <span asp-validation-for="idCuenta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="text" class="control-label"></label>
                <input asp-for="text" class="form-control" />
                <span asp-validation-for="text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
