@model Pedidos.Models.P_Direcciones

@{
    ViewData["Title"] = "Criar";
}


<div class="row m-3"></div>

<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="idCliente" hidden value="@Model.idCliente" class="form-control" />

            <div class="form-group">

                <div class="input-group">
                    <input id="code" type="number" class="form-control form-control-sm" asp-for="code" placeholder="CEP">
                    <div class="input-group-append">
                        <span id="cepSearch" class="input-group-text" style="cursor:pointer">
                            <i style="color:dodgerblue" class="fa fa-search"></i>
                        </span>
                    </div>
                </div>

                <span asp-validation-for="code" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input id="address" asp-for="address" class="form-control form-control-sm" placeholder="Rua" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="numero" type="number" asp-for="numero" class="form-control form-control-sm" placeholder="Número" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="complemento" asp-for="complemento" class="form-control form-control-sm" placeholder="Complemento" />
                <span asp-validation-for="complemento" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input id="district" asp-for="district" class="form-control form-control-sm" placeholder="Barrio" />
                <span asp-validation-for="district" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="city" asp-for="city" class="form-control form-control-sm" placeholder="Municipio" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="state" asp-for="state" class="form-control form-control-sm" placeholder="Estado" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm form-control form-control-sm mb-2" />
                <a class="btn btn-danger btn-sm form-control form-control-sm" asp-route-idCliente="@Model.idCliente" asp-action="Index">Cancelar</a>
            </div>
        </form>

    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        function LimpiarNombre() {
            $('#nombre').val('');
            $('#formSearchCategoria').submit();
        }

        $(document).ready(function () {

            $('#cepSearch').on('click', function () {

                $.getJSON('https://ws.apicep.com/cep.json', { code: $('#code').val() }, function (data) {
                    console.log(data);
                    if (JSON.parse(data.ok)) {
                        $('#state').val(data.state);
                        $('#city').val(data.city);
                        $('#district').val(data.district);
                        $('#address').val(data.address);
                    } else {
                        Swal.fire('Oops...', data.message, 'warning');
                        LimpiarCampos();
                    }
                });

            });

            function LimpiarCampos() {
                $('#state').val('');
                $('#city').val('');
                $('#district').val('');
                $('#address').val('');
            }

        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
