
@{
    Layout = "~/Views/Shared/_LayoutQR.cshtml";
}

<div id="content">

    <div style="position: fixed; z-index: 1; height: 60px; width: 100vw;">
        <div class="card card-body bg-primary p-1 m-0">
            <div class="d-flex justify-content-between">

                <div class="d-flex text-white align-items-center">
                    <i class="far fa-user-circle fa-2x mr-2"></i>
                    <span id="cardapioNombreCliente"></span>
                </div>

                <div>
                    <button id="btnCardapioChatCliente" type="button" class="btn " data-toggle="modal" data-target="#chatCardapioModal">
                        <i class="far fa-comments fa-2x" style="color:white"></i>
                        <span class="badge bg-warning" style="vertical-align: top">3</span>
                    </button>

                    <button type="button" class="btn">
                        <i class="fas fa-cart-plus fa-2x" style="color:white"></i>
                        <span class="badge bg-danger" style="vertical-align: top;color: white">R$ 25.00</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div style="position:absolute;top:58px;left:0;right:0">

        <div class="card-body p-0">
            <div class="row p-0 m-0">
                <div class="col-12 m-2 text-center text-uppercase"><strong>San Duba</strong></div>
                <div class="col-12">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Buscar produto">
                    </div>
                </div>
            </div>
        </div>


        <div id="accordion">
            <div v-for="grupo in grupoProductos" class="card m-0">
                <div class="card-header cursor-pointer" data-toggle="collapse" v-bind:data-target="'#panel_'+grupo.idCategoria">
                    <h5 class="mb-0">
                        <i class="fas fa-project-diagram fa-1x mr-2"></i>
                        <button class="btn text-uppercase" aria-expanded="true" aria-controls="collapseOne">
                            {{grupo.categoria}}
                        </button>
                    </h5>
                </div>
                <div v-bind:id="'panel_'+grupo.idCategoria" class="collapse hide" data-parent="#accordion">
                    <div class="card-body">
                        <div v-for="producto in grupo.productos" class="cursor-pointer hover pl-1">
                            <div v-on:click="DetalleProducto(producto.idCuenta,producto.id)" class="d-block">
                                <div><strong>{{producto.nombre}}</strong></div>
                                <div>

                                    <div v-if="!producto.tieneTamanhos" class="btn btn-sm btn-secondary text-nowrap  m-1 d-inline-flex">
                                        <div class="ml-1 " style="color:chartreuse">R$ {{producto.valor}}</div>
                                    </div>

                                    <div v-if="producto.tieneTamanho1" class="btn btn-sm btn-secondary text-nowrap  m-1 d-inline-flex">
                                        {{producto.tamanho1}}
                                        <div class="ml-1 " style="color:chartreuse">R$ {{producto.valorTamanho1}}</div>
                                    </div>
                                    <div v-if="producto.tieneTamanho2" class="btn btn-sm btn-secondary text-nowrap  m-1 d-inline-flex">
                                        {{producto.tamanho2}}
                                        <div class="ml-1 " style="color:chartreuse">R$ {{producto.valorTamanho2}}</div>
                                    </div>
                                    <div v-if="producto.tieneTamanho3" class="btn btn-sm btn-secondary text-nowrap  m-1 d-inline-flex">
                                        {{producto.tamanho3}}
                                        <div class="ml-1 " style="color:chartreuse">R$ {{producto.valorTamanho3}}</div>
                                    </div>
                                    <div v-if="producto.tieneTamanho4" class="btn btn-sm btn-secondary text-nowrap  m-1 d-inline-flex">
                                        {{producto.tamanho4}}
                                        <div class="ml-1 " style="color:chartreuse">R$ {{producto.valorTamanho4}}</div>
                                    </div>
                                    <div v-if="producto.tieneTamanho5" class="btn btn-sm btn-secondary text-nowrap  m-1 d-inline-flex">
                                        {{producto.tamanho5}}
                                        <div class="ml-1 " style="color:chartreuse">R$ {{producto.valorTamanho5}}</div>
                                    </div>

                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div style="font-size:15px" class="modal fade" id="ModalDetalleProducto" tabindex="-1" role="dialog" aria-labelledby="ModalDetalleProductoTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <div class="d-block">
                        <div>
                            <h5 class="modal-title" id="ModalDetalleProductoTitle">
                                {{modalProducto.nombre}}
                            </h5>
                        </div>
                        <div>{{modalValorProducto}}</div>
                    </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @*ADICIONALES*@

                    <div v-if="modalAdicionales.length > 0" id="accordionAdicionales">
                        <div class="card p-0 border-0">
                            <div class="card-header bg-transparent text-center" id="headingOne" style="border:none" data-toggle="collapse" data-target="#collapseOne">
                                <div class="d-flex">
                                    <hr class="w-100">
                                    <h5 class="mb-0">
                                        <button class="btn btn-outline-primary" aria-expanded="true" aria-controls="collapseOne">
                                            <div class="d-flex">ADICIONALES</div>
                                        </button>
                                    </h5>
                                    <hr class="w-100">
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionAdicionales">
                                <div class="card-body p-0">
                                    <div v-for="adicional in modalAdicionales">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <span v-if="adicional.cantidad > 0" style="color:blue">+{{adicional.cantidad}}</span>
                                                {{adicional.nombre}}
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div>R$ {{adicional.valor.toFixed(2)}}</div>
                                                <div><button class="btn p-1 ml-2" v-on:click="MinusAdicional(adicional.id)"><i style="font-size:20px" class="fa fa-minus cursor-pointer"></i></button></div>
                                                <div><button class="btn p-1 ml-2" v-on:click="PlusAdicional(adicional.id)"><i style="font-size:20px" class="fa fa-plus cursor-pointer"></i></button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*INGREDIENTES*@
                    <div>
                        <div>
                            <div class="d-flex align-content-center">
                                <hr class="w-100">
                                <div class="m-1" style="color:gray">INGREDIENTES</div>
                                <hr class="w-100">
                            </div>
                        </div>

                        <div v-for="ingrediente in modalIngredientes">
                            <div class="d-flex justify-content-between">
                                <div> {{ingrediente.nombre}}</div>
                                <input type="checkbox" v-model="ingrediente.selected" />
                            </div>
                        </div>
                    </div>


                    @*SABORES*@
                    <!--<div>
                        <div>
                            <div class="d-flex align-content-center">
                                <hr class="w-100">
                                <div class="m-1" style="color:gray">SABORES</div>
                                <hr class="w-100">
                            </div>
                        </div>

                        <div v-for="ingrediente in modalIngredientes">
                            <div class="d-flex">
                                <div>{{ingrediente.nombre}}</div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>-->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/views/delivery/vue_index.js"></script>
}
