@model IEnumerable<Pedidos.Models.P_Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="container text-center col-12 col-md-6">
    <table class="table">
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>R$ 275.00</strong></td>
        </tr>
        <tr>
            <td>Cartão</td>
            <td>R$ 25.00</td>
        </tr>
        <tr>
            <td>Dinheiro</td>
            <td>R$ 100.00</td>
        </tr>
    </table>
</div>