@model Pedidos.Models.P_Ingredientes

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>ADICIONAIS</b>
            </div>
            <div>
                <a class="btn btn-sm btn-primary" asp-action="Create">Novo</a>
            </div>
        </div>

    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group small">
                        <label asp-for="nombre" class="control-label"></label>
                        <input asp-for="nombre" class="form-control form-control-sm" />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jquery/jquery.mask.js"></script>
    <script src="~/js/views/ingredientes/create.js"></script>
}
