<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pedidos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.css" />
    <link href="~/lib/bootstrap-switch-button/bootstrap-switch-button.css" rel="stylesheet" />
    <link href="~/css/croppie/croppie.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>

    <div class="p-0">
        <main role="main" class="p-0">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Pedidos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/vuejs/vuejs.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-switch-button/bootstrap-switch-button.min.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.js" asp-append-version="true"></script>
    <script src="~/lib/printThis.js" asp-append-version="true"></script>
    <script src="~/lib/croppie/croppie.min.js" asp-append-version="true"></script>

    @await Html.PartialAsync("_notificationPartial")
    @RenderSection("Scripts", required: false)

</body>
</html>
