@model Pedidos.Models.P_Productos
@using Pedidos.Models.Enums

@{
    ViewData["Title"] = "Criar";
    var ads = Model;
}

<!-- Modal -->
<div class="modal fade" id="ModalUploadImagen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Imagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="main-cropper"></div>
                <input type="file" id="select" class="form-control" value="Choose Image" accept="image/*">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnupload" name="btnupload" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </div>
</div>


<div class="row m-3"></div>

<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-4">
        <form id="form_create" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="d-block" style="text-align:center">
                <div>
                    <img id="imgProducto" class="cursor-pointer" src="data:image/png;base64,@Model.ImageBase64" style="height:150px;width:150px;object-fit:cover;border-radius:5px" data-toggle="modal" data-target="#ModalUploadImagen">
                </div>
                <div>
                    <div class="btn btn-sm btn-danger cursor-pointer" style="width:150px;margin:1px;margin-bottom:5px">Apagar</div>
                </div>
                @*<div>
                        <div class="custom-file">
                            <input name="ImageName" id="ImageName" asp-for="ImageName" accept="image/x-png,image/gif,image/jpeg,image/jfif"
                                   Class="form-control custom-file-input" lang="pt-br" />
                            <label class="custom-file-label" style="word-break: break-all; overflow: hidden;">Imagem....</label>
                        </div>
                    </div>*@
            </div>

            <div>
                <div class="form-group">
                    <input type="search" id="browserInputCategoria" list="CategoriaList" placeholder="Categoria" asp-for="Categoria" class="form-control" />
                    <datalist id="CategoriaList">
                        @if (ViewBag.Categorias != null)
                        {
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                <option id="@(categoria.id)" value="@(categoria.nombre)"></option>
                            }
                        }
                    </datalist>
                    <input id="idCategoria" asp-for="idCategoria" hidden class="form-control" />
                    <span asp-validation-for="idCategoria" class="text-danger"></span>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <input asp-for="nombre" class="form-control" placeholder="Nome" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
            </div>

            <div>
                <div id="form_group_valor" class="form-group">
                    <input asp-for="valor" class="form-control inputDecimal" placeholder="Valor" onclick="this.select()" />
                    <span asp-validation-for="valor" class="text-danger"></span>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header text-center bg-info text-white p-2 cursor-pointer" data-toggle="collapse" data-target="#panelTamanhos" aria-expanded="false" aria-controls="panelTamanhos">
                    TAMANHOS
                </div>
                <div id="panelTamanhos" class="card-body p-1 collapse">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i style="color:dodgerblue" class="fa fa-arrows"></i></span>
                            </div>
                            <input asp-for="tamanho1" class="form-control col-8" placeholder="Tamanho 1">
                            <input asp-for="valorTamanho1" class="form-control col-4 inputDecimal" placeholder="Preço" onclick="this.select()">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i style="color:dodgerblue" class="fa fa-arrows"></i></span>
                            </div>
                            <input asp-for="tamanho2" class="form-control col-8" placeholder="Tamanho 2">
                            <input asp-for="valorTamanho2" class="form-control col-4 inputDecimal" placeholder="Preço" onclick="this.select()">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i style="color:dodgerblue" class="fa fa-arrows"></i></span>
                            </div>
                            <input asp-for="tamanho3" class="form-control col-8" placeholder="Tamanho 3">
                            <input asp-for="valorTamanho3" class="form-control col-4 inputDecimal" placeholder="Preço" onclick="this.select()">
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <div class="form-group">
                    <label class="control-label">Tempo de preparação (Hr/Min)</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i style="color:dodgerblue" class="fa fa-clock"></i></span>
                        </div>
                        <input type="number" asp-for="horasPreparacion" class="form-control" placeholder="Hr">
                        <input type="number" asp-for="minutosPreparacion" class="form-control" placeholder="Min">
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <textarea asp-for="descripcion" rows="3" class="form-control" placeholder="Descrição"></textarea>
                    <span asp-validation-for="descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm form-control form-control-sm mb-2" />
                <a class="btn btn-danger btn-sm form-control form-control-sm" asp-action="Index">Cancelar</a>
            </div>

        </form>
    </div>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/jquery.mask.js"></script>
<script src="~/js/views/productos/cropper.js"></script>
<script src="~/js/views/productos/create.js"></script>
