@model Pedidos.Models.P_Productos
@using Pedidos.Models.Enums

@{
    ViewData["Title"] = "Criar";
}

<div class="card m-2">
    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>PRODUCTOS</b>
            </div>
            <div>
                <a class="btn btn-sm btn-primary" asp-action="Create">Novo</a>
            </div>
        </div>

    </div>
    <div class="card-body">

        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div>
                        <div class="form-group">

                            <div>
                                <div class="custom-file">
                                    <input name="ImageName" id="ImageName" asp-for="ImageName" accept="image/x-png,image/gif,image/jpeg,image/jfif"
                                           Class="form-control custom-file-input" lang="pt-br" />
                                    <label class="custom-file-label" style="word-break: break-all; overflow: hidden;">Imagem....</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">

                            <input type="search" id="browserInputCategoria" list="CategoriaList" placeholder="Categoria" asp-for="Categoria" class="form-control" />
                            <datalist id="CategoriaList">
                                @if (ViewBag.Categorias != null)
                                {
                                    @foreach (var categoria in ViewBag.Categorias)
                                    {
                                        <option id="@(categoria.id)" value="@(categoria.nombre)"></option>
                                    }
                                }
                            </datalist>
                            <input id="idCategoria" asp-for="idCategoria" hidden class="form-control" />
                            <span asp-validation-for="idCategoria" class="text-danger"></span>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">

                            <input asp-for="nombre" class="form-control" placeholder="Nome" />
                            <span asp-validation-for="nombre" class="text-danger"></span>
                        </div>
                    </div>



                    <div>
                        <div class="form-group">
                            <input asp-for="valor" class="form-control inputDecimal" placeholder="Valor" />
                            <span asp-validation-for="valor" class="text-danger"></span>
                        </div>
                    </div>

                    @*<div>
                            <div class="form-group">
                                <label>Sub Categorias</label>
                                <select asp-for="idSubCategoria" class="form-control" id="idSubCategoria">
                                </select>
                            </div>
                        </div>*@

                    <div>
                        <div class="form-group">
                            <label class="control-label">Tempo de preparação (Hr/Min)</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i style="color:dodgerblue" class="fa fa-clock"></i></span>
                                </div>
                                <input type="number" asp-for="horasPreparacion" class="form-control" placeholder="Hr">
                                <input type="number" asp-for="minutosPreparacion" class="form-control" placeholder="Min">
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">                            
                            <textarea asp-for="descripcion" rows="3" class="form-control" placeholder="Descrição"></textarea>
                            <span asp-validation-for="descripcion" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary btn-sm form-control form-control-sm mb-2" />
                        <a class="btn btn-danger btn-sm form-control form-control-sm" asp-action="Index">Cancelar</a>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/jquery.mask.js"></script>
<script src="~/js/views/productos/create.js"></script>
