@model Pedidos.Models.P_Productos
@using Pedidos.Models.Enums

@{
    ViewData["Title"] = "Criar";
}

<h5>Criar Produto</h5>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-sm-12 col-lg-3">
                    <div class="form-group">
                        <label class="control-label">Imagem</label>
                        <div>
                            <div class="custom-file">
                                <input name="ImageName" id="ImageName" asp-for="ImageName" accept="image/x-png,image/gif,image/jpeg,image/jfif"
                                       Class="form-control custom-file-input" lang="pt-br" />
                                <label class="custom-file-label">Imagem....</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-3">
                    <div class="form-group">
                        <label>Categorias</label>
                        <input type="search" id="browserInputCategoria" list="CategoriaList" asp-for="Categoria" class="form-control" />
                        <datalist id="CategoriaList">
                            @if (ViewBag.Categorias != null)
                    {
                            @foreach (var categoria in ViewBag.Categorias)
                        {
                            <option id="@(categoria.id)" value="@(categoria.nombre)"></option>
                        }
                    }
                        </datalist>
                        <input id="idCategoria" asp-for="idCategoria" hidden class="form-control" />
                        <span asp-validation-for="idCategoria" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                        <label asp-for="nombre" class="control-label"></label>
                        <input asp-for="nombre" class="form-control" />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12 col-lg-3">
                    <div class="form-group">
                        <label asp-for="strValor" class="control-label"></label>
                        <input asp-for="strValor" type="number" class="form-control" />
                        <span asp-validation-for="strValor" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-9">
                    <div class="form-group">
                        <label class="control-label">Tempo de preparação (Hr/Min)</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i style="color:dodgerblue" class="fa fa-clock"></i></span>
                            </div>
                            <input type="number" class="form-control" placeholder="Hr">
                            <input type="number" class="form-control" placeholder="Min">
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group row col-sm-12 d-flex justify-content-between m-0 p-0">

                <div class="btn btn-danger">
                    <a style="color:white" asp-action="Index">Cancelar</a>
                </div>

                <div>
                    <input type="submit" value="Criar" class="btn btn-success" />
                </div>

            </div>

        </form>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                console.log(this);
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            })

            $('#browserInputCategoria').on('input', function () {
                var opt = $('option[value="' + $(this).val() + '"]');
                $('#idCategoria').val(opt.length ? opt.attr('id') : '');
            });

        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}