@model Pedidos.Models.P_Adicionais

@{
    ViewData["Title"] = "Edit";
}
<div class="card">

    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>ADICIONAIS</b>
            </div>            
        </div>
    </div>

    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="id" />
                    <input type="hidden" class="form-check-input" asp-for="activo" />
                    <input type="hidden" asp-for="idCuenta" class="form-control" />

                    <div class="form-group">
                        <input asp-for="nombre" class="form-control" />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">R$</span>
                            </div>
                            <input id="txtValor" asp-for="Valor" placeholder="Valor" class="form-control form-control-sm" />
                        </div>
                        <span asp-validation-for="Valor" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary btn-sm form-control form-control-sm mb-2" />
                        <a class="btn btn-danger btn-sm form-control form-control-sm" asp-action="Index">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/jquery.mask.js"></script>
<script src="~/js/views/adicionais/edit.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
