
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="container text-center">

    <div class="d-block">
        <div>
            <img src="~/img/accessDenied.png" style="width:200px" />
        </div>
        <div style="color:orangered">
            <strong>Voce não tem permissão para aceder a essa funcionalidade</strong>
        </div>
    </div>

</div>