@{
    ViewData["Title"] = "Inicio";
}


<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>

    <div id="demo" style="display:flex;justify-content:center">
        <table class="table" style="width:200px">
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>5</td>
                <td>R$ 25.20</td>
            </tr>
        </table>
        
    </div>

    <div id="btnPrint" class="btn btn-info">Print</div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/views/Home/index.js"></script>