@model Pedidos.Models.P_Pedido
@using Pedidos.Extensions

@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row col-12 d-flex justify-content-center">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/views/Home/index.js"></script>
