
@{
    ViewData["Title"] = "Lista";
    var length = 50;
}

<div class="card m-2">
    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>MESAS</b>
            </div>
            <div>
                <input class="form-control" placeholder="# Mesas" />
            </div>
        </div>

    </div>
    <div class="card-body">

        <div class="row">

            @for (int i = 1; i < length; i++)
            {
                <div class="col-12 col-sm-6 col-md-6 col-lg-3  mb-2">
                    <div class="card card-body d-flex justify-content-center align-items-center mesa-selected cursor-pointer">
                        <i class="fas fa-box fa-6x m-3" aria-hidden="true" style="color: cadetblue"></i> <strong style="font-size:20px">Mesa @i</strong>
                    </div>
                </div>
            }

        </div>


    </div>
</div>
