@model IEnumerable<Pedidos.Models.P_Cuenta>

<div class="card m-2">
    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>ADICIONAIS</b>
            </div>
            <div>
                <a class="btn btn-sm btn-primary" asp-action="Create">Novo</a>
            </div>
        </div>

    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Ativo
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.rol)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.activo)
                        </td>

                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>