@model IEnumerable<Pedidos.Models.P_Pedido>

@{
    ViewData["Title"] = "ReporteDePedidos";
}

<div class="m-4">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr> 
                    <td>
                        @item.codigo
                    </td>
                    <td>
                        @item.cliente
                    </td>
                    <td>
                        R$ @item.valorProductos.ToString("F2")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

